
/* .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-cs'] {
    display: flex;
    flex-direction: column;
} */
  
  
/* Responsive */
.footer{
    display: none;
}
.heading-elements {
    /* left: calc(100% - 389px); */
    right: 20px !important;
}
.heading-elements.visible {
    background: white;
    padding: 20px;
}

.custom-wrapper{
    background: #fff;
    padding: 0px 10px;
}
.cs-header{
    background: red;
    height: 93px;
    width: 100%;}

.header-title{
    padding: 32px 20px;
}

.panel-cs{
    border: 0px;
    border-radius: 0px;
}
.panel-cs .panel-heading{
    z-index: 99;
}

.panel-cs .panel-title{
    position: relative;
    top: 16px;
}

.panel-cs .panel-title i{
    font-size: 24px;
    margin-right: 5px
}

.cs-heading{ 
    height: 94px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
}

.cs-body{
    /* height: 100%; */
    border: none;
}

.search-box{
    width: 100%;
    position: relative;
}

.search-box .search-input{
    /* width: 100%;
    border: none;
    background: #F0F0F0;
    font-size: 15px;
    padding: 8px 35px 8px 15px;
    border-radius: 5px; */
    width: 100%;
    border: none;
    background: #FFF;
    font-size: 13px;
    padding: 8px 35px 8px 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.search-box i{
    position: absolute;
    right: 10px;
    top: 10px;
}

.line{
    margin: auto;
    width: calc(100% - 40px);
    border: 1px solid #DDDDDD;
}

.col-cs{
    padding: 0px;
}

.panel-cart{
    border: none;
    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.13);
}

.cart-heading{
    box-shadow: none;
}

.barang-container{
    margin-top: -38px;
    padding-right: 0px;
}

.barang-wrapper{
   padding: 1px 0px;
/* background-color: red; */
   height: 600px;
   width: 100%;
   max-height: 593px;
   overflow-y: scroll;
}

/* list-barang */
.list-wrapper {
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(auto-fill, 120px);
   justify-content: center;
   /* padding-top: 40px;
   padding-bottom: 40px;
   padding-right: 20px; */
   margin-bottom: 18px;
}

.list-wrapper .item-barang {
   background-color: white;
   height: 214.03px;
   /* border-radius: 5px; */
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);   
}
.stock_barang{
    background: #37474f;
    color: white;
    margin: 0px -1px;
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
 }
.list-wrapper .item-barang:hover{
    border: #37474f 1px solid;
    cursor: pointer;
}
.list-wrapper .item-barang:hover .stock_barang{
    display: block;    
 }
.list-wrapper .item-barang.active{
    border: #37474f 1px solid;
    cursor: pointer;
}
.list-wrapper .item-barang.active .stock_barang{
    display: block;    
 }
.list-wrapper .item-barang{

}

.item-barang .item-thumb{
    width: 100%;
    height: 120px;
}

.item-barang .item-thumb img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-barang .item-body {
    position: relative;
    top: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-barang .item-body .nama_barang{
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 4px;
}

.item-barang .item-body .harga_barang{
    font-weight: 400;
    font-size: 11px;
    position: relative;
    bottom: 2px;
}

.item-barang .item-body .qty{
    font-weight: 400;
    font-size: 11px;
    position: relative;
    bottom: 2px;
}

.item-barang .item-body .expdate{
    font-weight: 400;
    font-size: 9px;
    position: relative;
    bottom: 2px;
}

.member-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.member-label:active{
    background: #dfdfdf;
}

.member-label:hover{
     cursor: pointer;
}

.member-label + .member-label{
    margin-left: 18px;    
}

.member-label{
    padding: 10px;
    /* border-radius: 14px; */
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); */
    /* height: 46px; */
    /* height: 46px;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    border: 1px #ddd solid; */
    padding: 10px;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    border: 1px #ddd solid;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.member-label .member-label-icon{
    width: 28px;
    height: 28px;
}

.member-label .member-label-title{
    text-transform: uppercase;
    font-weight: bold;
}

.order-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;
}

.order-wrapper .__title{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
}

.order-wrapper .__tanggal{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
}

.order-list{
    /* padding: 5px 0px !important;
    height: 355px;
    overflow-y: scroll;
    overflow-x: none; */
    padding: 16px 20px 8px 20px;
    border-bottom: 1px #ddd solid;
}

.item-order{
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25); */
    /* margin: 10px 14px 15px 3px; */
    border: 1px #ddd solid;
    margin-bottom: 8px;
    justify-content: space-between;
}


.item-order .__left{
    padding: 15px;
}

.clear-btn{
    top: -15px;
    right: -5px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 9px !important;;
    position: absolute;
    padding: 4px;
    border: 2px white solid;
}
.bonus-btn{
    top: -15px;
    right: 25px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 9px !important;;
    position: absolute;
    padding: 4px;
    border: 2px white solid;
}
.done-bonus-btn{
    top: -15px;
    right: 25px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 9px !important;;
    position: absolute;
    padding: 4px;
    border: 2px white solid;
}

.item-order .__right{
    width: 121px;
    display: grid;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.item-order .__right .__qty_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 106px;
}

.item-order .__right .__qty_group .__qty-action:active {
    background: #37474F;
}
.item-order .__right .__qty_group .__qty-action {
    width: 26px;
    height: 26px;
    border: none;
    background: #C4C4C4;
    /* border-radius: 10px; */
    color: white;
    font-weight: bolder;
    padding: 4px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    font-size: 10px;
}

.item-order .__right .__qty_group .__qty_item {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    /* border-radius: 10px; */
    height: 26px;
    width: 55px;
    color: #828282;
    padding: 7px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}


.item-order .__left .__first .__title {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: normal;
    color: #fff;
}

.__second{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.__discount {
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); */
    /* border-radius: 10px; */
    border: 1px solid #ddd;
    padding: 4px;
    margin-right: 3px;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    font-size: 11px;
    font-weight: 500;
}

.__discount:hover{
    cursor: pointer;
}

.__discount:active{
    background: #ddd;
}


.__price {
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); */
    /* border-radius: 10px; */
    padding: 4px;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    border: #ddd solid 1px;
    font-size: 11px;
    font-weight: 500;
}

.__price + .__discount{
    margin-right: 10px;
}

.__price:hover{
    cursor: pointer;
}

.__price:active{
    background: #ddd;
}

.flex-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-wrapper{
    /* margin-top: 10px; */
    width: inherit;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.total-wrapper .__first_column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.total-wrapper .__first_column .label_total{
    text-transform: uppercase;
    font-weight: bold;
}
.total-wrapper .__first_column .price_total{
    text-transform: uppercase;
    font-weight: bold;
}
.total-wrapper .__second_column{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.total-wrapper .__second_column button + button{
    margin-left: 10px;
}

/* @media (min-width: 769px) {
    .has-detached-right .content-detached {
        margin-right: 380px;
    }
    .has-detached-right .container-detached {
        float: left;
        margin-right: -360px;
        width: 100%;
    }
    .sidebar {
        display: table-cell;
        vertical-align: top;
        width: 360px;
    }
} */

@media (min-width: 769px) {
    .has-detached-left .container-detached {
      float: right;
      margin-left: -390px;
      width: 100%;
    }
    .has-detached-left .content-detached {
      margin-left: 410px;
    }
    .has-detached-left .sidebar-detached {
      float: left;
    }
    .has-detached-right .container-detached {
      float: left;
      margin-right: -390px;
      width: 100%;
    }
    .has-detached-right .content-detached {
      margin-right: 410px;
    }
    .has-detached-right .sidebar-detached {
      float: right;
    }
    .has-detached-right .sidebar-detached.affix {
      right: 20px;
    }
    .sidebar-detached-hidden .container-detached {
      float: none;
      margin: 0;
    }
    .sidebar-detached-hidden .content-detached {
      margin: 0;
    }
    .sidebar-detached-hidden .sidebar-detached {
      float: none;
    }
}

@media (min-width: 769px) {
    .sidebar-cs {
        display: table-cell;
        vertical-align: top;
        width: 390px;
    }
}

.btn-block span{
    text-transform: uppercase !important;
}

.bg-purple-300 {
    background-color: #fff;
    border-color: #9575CD;
    color: #9575CD;
}

.bg-purple-300:hover {
    background-color: #9575CD;
    border-color: #9575CD;
    color: #9575CD;
}

.bg-purple-300:focus {
    background-color: #9575CD;
    border-color: #9575CD;
    color: #9575CD;
}

.bg-warning-400 {
    background-color: #fff;
    border-color: #FF7043;
    color: #FF7043;
}

.bg-warning-400:hover {
    background-color: #FF7043;
    border-color: #FF7043;
    color: #FF7043;
}

.bg-warning-400:focus {
    background-color: #FF7043;
    border-color: #FF7043;
    color: #FF7043;
}

input[placeholder="Diskon"]{
    display: block;
    width: 100%;
    height: 36px;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}   
input[placeholder="Harga"]{
    display: block;
    width: 100%;
    height: 36px;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}   
input[placeholder="Nominal"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 17px 10px;
    font-size: 12px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}   
input[placeholder="Rupiah"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 17px 10px;
    font-size: 12px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* badge */
.badge {
    position:relative;
}
.badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:.7em;
    background:green !important;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}

.detail-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.detail-group .detail-label{
    width: 200px;
}

.detail-group-sm{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.detail-group-sm .detail-label{
    width: 100px;
}
  
.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
}

.calendar-head > a{
    color: #666 !important;
}

a{
    color: #666;
}
.empty-item{
    text-align: center;
    width: 500px;
    position: relative;
}

.btn-load-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}