.label{
    cursor: pointer;
}

[r-show="0"]{
    display: none;
}

[accepted="0"]{
    display: none;
}
[accepted="1"]{
    display: block;
}

[not_accepted="1"]{
    display: none;
}
[not_accepted="0"]{
    display: block;
}

.info-detail{
    display: flex;
    flex-direction: column;
}

.info-detail .dokter_info{
    text-transform: uppercase;
}

.info-detail .sales_info{
    text-transform: uppercase;
    font-size: 70%;
}