.panel-default .panel-heading{
    background: white;
}
.panel-default .panel-heading .panel-title{
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: bold;
}
.target_wrapper{
    margin-bottom: 20px;
}