/* Responsive */
.footer{
    display: none;
}
.heading-elements.visible {
    background: white;
    padding: 20px;
}

.custom-wrapper{
    background: #fff;
    padding: 0px 10px;
}
.cs-header{
    background: red;
    height: 93px;
    width: 100%;}

.header-title{
    padding: 32px 20px;
}

.panel-cs{
    border: 0px;
    border-radius: 0px;
}
.panel-cs .panel-heading{
    z-index: 99;
}

.panel-cs .panel-title{
    position: relative;
    top: 16px;
}

.panel-cs .panel-title i{
    font-size: 24px;
    margin-right: 5px
}

.cs-heading{ 
    height: 94px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
}

.cs-body{
    height: 100%;
}

.search-box{
    width: 100%;
    position: relative;
}

.search-box .search-input{
    width: 100%;
    border: none;
    background: #F0F0F0;
    font-size: 15px;
    padding: 8px 35px 8px 15px;
    border-radius: 5px;
}

.search-box i{
    position: absolute;
    right: 10px;
    top: 10px;
}

.line{
    margin: auto;
    width: calc(100% - 40px);
    border: 1px solid #DDDDDD;
}

.col-cs{
    padding: 0px;
}

.panel-cart{
    box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.13);
}

.cart-heading{
    box-shadow: none;
}

.barang-container{
    margin-top: -38px;
    padding-right: 0px;
}

.barang-wrapper{
   padding: 1px 0px;
/* background-color: red; */
   height: 600px;
   width: 100%;
   max-height: 593px;
   overflow-y: scroll;
}

/* list-barang */
.list-wrapper {
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(auto-fill, 120px);
   justify-content: center;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-right: 20px;
}

.list-wrapper .item-barang {
   background-color: white;
   height: 166.03px;
   border-radius: 5px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);    
}
.stock_barang{
    background: #37474f;
    color: white;
    margin: 0px -1px;
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius: 5px;
 }
.list-wrapper .item-barang:hover{
    border: #37474f 1px solid;
    cursor: pointer;
}
.list-wrapper .item-barang:hover .stock_barang{
    display: block;    
 }
.list-wrapper .item-barang{

}

.item-barang .item-thumb{
    width: 100%;
    height: 120px;
}

.item-barang .item-thumb img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-barang .item-body {
    position: relative;
    top: 2px;
    text-align: center;
}

.item-barang .item-body .nama_barang{
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 4px;
}

.item-barang .item-body .harga_barang{
    font-weight: 400;
    font-size: 11px;
    position: relative;
    bottom: 2px;
}

.member-wrapper{
    display: flex;
    height: 80px;
    width: 100%;
}

.member-label:hover{
    cursor: pointer;
    background: #dfdfdf;
}

.member-label + .member-label{
    margin-left: 18px;    
}

.member-label{
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    height: 46px;
}
.member-label .member-label-icon{
    width: 28px;
    height: 28px;
}

.member-label .member-label-title{
    text-transform: uppercase;
    font-weight: bold;
}