body {
	background-color: #fdfdfd;
}

.kertas {
	background-color: white;
	margin: 0;
}
/* Ukuran Kertas */
.A3 {
	width: 11.693in;
	height: 16.533in;
}
.A4 {
	width: 8.267in;
	height: 11.693in;
}
.A5 {
	width: 5.847in;
	height: 8.267in;
}
.A6 {
	width: 4.133in;
	height: 5.847in;
}

.A7 {
	width: 3.433in;
	height: 4.947in;
}

.kertas-signa {
	width: 6.5cm;
	height: 5.5cm;
}

.B4 {
	width: 9.843in;
	height: 13.897in;
}
.B5 {
	width: 6.930in;
	height: 9.843in;
}
.B5-Japan {
	width: 7.167in;
	height: 10.117in;
}


.kwitansi {
	width: inherit;
	height: inherit;
	padding: 20px 0;
	font-family: "sans-serif", calibri, helvetica;

}

.kwitansi > .kwitansi-header {
	padding: 10px 20px;
}
	.kwitansi-caption {
		font-size: 16px;
		text-align: center;
		margin: 5px;
		line-height: 16px;
		font-weight: lighter;
	}

.kwitansi > .kwitansi-body {
	width: inherit;
}

.kwitansi > .kwitansi-body > .kwitansi-body-content {
	width: inherit;
	padding: 0 5px;
}


.kwitansi > .kwitansi-footer {
	margin-top: 15px;
}

.kwitansi-line {
	display: block;
	border-bottom: 1px dashed;
	width: 100%;
	margin: 10px 0;
}

/* Convention */
table {
	width: 100%;	
}
	table > tbody > tr > td {
		padding-right: 16px;
	}
	table .title {
		width: 40%;
	}
	table .separator {
		width: 5px;
		padding: 0 5px;
	}
	table .content {

	}
th {
	font-weight: lighter;
	text-align: left;
}

th.numeric,
td.numeric {
	text-align: left;
}

hr {
	border: 0;
	border-bottom: 1px solid black;
}

/* Helper */
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.center {
	margin: auto;
}
.kwitansi-pull-left {
	float: left;
}
.kwitansi-pull-right {
	float: right;
}